@font-face {
    font-family: "HKGrotesk Bold";
    src: url("https://basic-framework.neocities.org/css/Fonts/HKGrotesk-Bold.ttf")
}

@font-face {
    font-family: "HKGrotesk";
    src: url("https://basic-framework.neocities.org/css/Fonts/HKGrotesk-Regular.ttf")
}

@font-face {
    font-family: "HKGrotesk Italic";
    src: url("https://basic-framework.neocities.org/css/Fonts/HKGrotesk-Italic.ttf")
}

@font-face {
    font-family: "HKGrotesk Light";
    src: url("https://basic-framework.neocities.org/css/Fonts/HKGrotesk-Light.ttf")
}

@font-face {
    font-family: "HKGrotesk Bold Italic";
    src: url("https://basic-framework.neocities.org/css/Fonts/HKGrotesk-BoldItalic.ttf")
}
