div.footer,
nav.footer,
footer.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #333;
    overflow: hidden;
    background-color: #ddd;
    border-top: 1px solid darken(#ddd, 15%);
    font-family: $default-font;
    padding-left: 12px;
    margin-top: 20px;
}
