@mixin add-button-color ($base-color, $text-color: #ffffff) {
    background: $base-color;
    color: $text-color;
    border: 1px solid darken($base-color, 15%);

    &:hover {
        background: darken($base-color, 15%);
    }

    &:active {
        border: 1px solid darken($base-color, 20%);
    }

    &.inverted {
        background: $text-color;
        color: $base-color;

        &:hover {
            background: $text-color;
            border: 1px solid darken($base-color, 15%);
            color: darken($base-color, 20%);
        }
    }
}

@mixin add-button-size ($px-size) {
    padding: $px-size;
    font-size: ($px-size + 8px);
}

@mixin add-alert-color ($alert-color) {
    border-color: lighten($alert-color, 5%);
    border-left-color: $alert-color;
    background: #fff;
    color: darken($alert-color, 10%);

    .link {
        color: darken($alert-color, 20%);
    }

    &.inverted {
        background: $alert-color;
        color: #fff;

        .link {
            color: #fff;
        }
    }
}

@mixin add-progress-color($color) {
    background-color: $color;
    background-image: -moz-linear-gradient(top, $color, darken($color, 10%));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $color),color-stop(1, darken($color, 10%)));
    background-image: -webkit-linear-gradient($color, darken($color, 10%));
}

@mixin add-navbar-color( $background-color: #ddd, $border-color: darken($background-color, 15%), $active-color: $blue, $text-color: #333 ) {
    background-color: $background-color;
    border-bottom: 1px solid $border-color;

    li {
        * {
            color: $text-color;

            &:hover {
                background-color: darken($background-color, 10%);
            }
        }
    }

    .active {
        background-color: $active-color;

        a:visited {
            color: $background-color;
        }
    }

    &.inverted {
        background-color: $text-color;
        border-bottom: 1px solif $border-color;

        li {
            * {
                color: $background-color;

                &:hover {
                    background-color: darken($text-color, 10%);
                }
            }
        }

        .active {
            background-color: $active-color;

            a:visited {
                color: $text-color;
            }
        }
    }
}





