$red: #d70c0c;
$green: #6ed000;
$blue: #0094ff;
$orange: #ff6a00;

$default-font: "Helvetica", "HKGrotesk Light", "Segoe UI", "Arial";
$default-italic: "HKGrotesk Italic";
$default-bold: "HKGrotesk Bold";
$default-bold-italic: "HKGrotesk Bold Italic";

$code-font: "Menlo", "Monaco", "Consolas", "Courier New", "Monospace", "Monospaced", "Lucida Console", "Arial";

$default-button: "HKGrotesk Light", "Segoe UI", Arial;
$button-bold: "HKGrotesk Bold";
$button-italic: "HKGrotesk Italic";
$button-bold-italic: "HKGrotesk Bold Italic";

$content-margin: 20px;
$content-large-margin: 50px;

$text-color: #2f2f2f;

$link-color: #06e;
$visited-link-color: #a0f;

$button-color: #000;
$button-background: #fff;

$alert-background: #cecece;
$alert-forground: #262626;
